
body{
	width: 960px;
	min-width: 100%;
	background-image: url("../images/ravenna.png");
	margin:0;
}
.font{
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/*------------Header Bar --------------*/

.header{
	font-family: 'Georgia', Times New Roman, serif;
	width: 100%;
	height: 100px;
	background-color: #ffffff;
	position: absolute;
	border-bottom-style: solid;
	border-color: #cccccc;
	overflow: hidden;
	top: 0;
}
.header nav ul li{
	display: inline;
	float:right;
	padding: 10px;
	font-size: 20px;
	color: #cccccc;
	font-weight: bold;
	border-right: 1px solid #cccccc;
}
.header nav ul li#last{
	border-right: none;
}
.header nav{
	margin-right: 230px;
	margin-top: 25px;
}
.logo{
	float:left;
	font-size: 50px;
	padding: 24px;
	background-color: #4aaaa5;
	margin-left: 215px;
	color: white;
	font-weight: bold;
}
/*------------------------------------*/

/*-------------Main------------------*/
.container{
	height: 700px;
	min-height: 100%;
	margin-bottom: -30px;
}
.main{
	width:650px;
	height: 450px;
	background-color: #ffffff;
	border: 2px solid #cccccc;
}

.main{
	float: left;
	margin: 170px 0 0 200px;
}
/*---------------MainContact----------------*/
.containerContact{
	height: 800px;
	min-height: 100%;
	margin-bottom: -30px;
}
.mainContact{
	width:650px;
	height: 550px;
	background-color: #ffffff;
	border: 2px solid #cccccc;
}
.mainContact{
	float: left;
	margin: 170px 0 0 200px;
}

/*---------------side----------------*/
.side
{
	float: left;
	margin: 170px 0 0 200px;
}
.side{
	width:270px;
	height: 170px;
	background-color: #ffffff;
	border: 2px solid #cccccc;
	position:absolute;
	right: 345px;

}
.side h3{
	color: #4aaaa5;
	font-weight: bold;	
	border-bottom-style: solid;
	border-color: #cccccc;
	text-align: center;
	display: inline-block;
    width: 60%;
   	padding:20px 20px 20px 23px; 
   	margin:0 0 0 25px;
    border-radius: 2px;
}
.socialLinks li{
	display: inline;
}
.socialLinks ul{
	padding-left: 15px;
	margin: 5px 5px 0px 0px;
}
.side img{
	margin:0px;
	padding: 0px;
}
.side .imgGit{
	margin: 10px 0 0 13px;
	height: 60px;
	width: 65px;
}
.side .imgLink{
	height: 60px;
	width: 65px;
}
.side .imgStack{
	height: 60px;
	width: 60px;
}


/*------------About Me--------------*/
.main h1,
.main img,
.main p1{
	margin-left: 40px;
	margin-top: 10px;
}
.main h1{
	width: 80%;
	padding-bottom: 30px;
	color: #4aaaa5;
	font-weight: bold;
	margin-top: 40px;
	border-bottom-style: solid;
	border-color: #cccccc;
	border-radius: 2px;
}
.main img{
	width: 250px;
}
.main p{
	width: 325px;
	float: right;
	line-height: 30px;
	display: block;
	margin-right: 10px;
}
.main p1{
	margin-top: 13px;
	display: inline-block;
}

/*------------------------------------*/

/*--------------Contact---------------*/
.mainContact h1{
	margin-left: 40px;
	margin-top: 10px;
}
.mainContact h1{
	width: 80%;
	padding-bottom: 30px;
	color: #4aaaa5;
	font-weight: bold;
	margin-top: 40px;
	border-bottom-style: solid;
	border-color: #cccccc;
	border-radius: 2px;
}
.mainContact h4{
	margin: 10px 0 0 0;
	padding: 0;
}
.contactName{
	width: 500px;
	height: 25px;
	margin: 5px 0 0 0;
}
.contactEmail{
	width: 500px;
	height: 25px;
	margin: 5px 0 0 0;
}
.contactMessage{
	width: 500px;
	height: 150px;
	margin: 5px 0 0 0;
}
.contactSubmit{
	display: block;
	margin: 20px 0 0 0;
	background-color: #4aaaa5;
	border:none;
	color: white;
	padding: 10px 30px;
}
.mainContact form{
	margin: 30px 0 0 40px;
}


/*------------------------------------*/

/*---------------Footer---------------*/
.footer{
	width: 100%;
	height: 100px;
	background-color: #666666;
	border-top-style: solid;
	border-color: #4aaaa5 ;
	border-width: 10px;
}
.footer h6{
	text-align: center;
	color: #cccccc;
	margin-top: 50px;
}

/*------------------------------------*/
